html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
#PageHeader1
{
   background-color: #000000;
   background-image: none;
   box-sizing: border-box;
}
#PageHeader1
{
   -webkit-transition: all 500ms linear 0ms;
   -moz-transition: all 500ms linear 0ms;
   transition: all 500ms linear 0ms;
}
#intro
{
   background-color: transparent;
   background-image: url(images/Diapositiva1.JPG);
   background-repeat: repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: contain;
   margin: 0;
}
#about
{
   background-color: #000000;
   background-image: none;
   margin: 0;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_CssMenu1
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   margin: 0;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 113px;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #9D9D9D;
   border: 0px #222222 solid;
   background-color: #000000;
   background-image: none;
   font-family: "Trebuchet MS";
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 103px;
   height: 44px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 44px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #FFFFFF;
   background-color: #42DCA3;
   background-image: none;
   border: 0px #222222 solid;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 li:hover, #wb_CssMenu1 li a:hover
{
   position: relative;
}
#wb_CssMenu1 a.withsubmenu
{
   padding: 0 5px 0 5px;
   width: 103px;
   background-image: none;
}
#wb_CssMenu1 li:hover a.withsubmenu, #wb_CssMenu1 a.withsubmenu:hover
{
   background-image: none;
}
#wb_CssMenu1 ul ul
{
   position: absolute;
   left: 0;
   top: 0;
   visibility: hidden;
   width: 138px;
   height: auto;
   border: none;
   background-color: #FFFFFF;
}
#wb_CssMenu1 ul :hover ul
{
   left: 0px;
   top: 44px;
   padding-top: 0px;
   visibility: visible;
}
#wb_CssMenu1 .firstmain:hover ul
{
   left: 0px;
}
#wb_CssMenu1 li li
{
   width: 138px;
   padding: 0 0px 0px 0px;
   border: 0px #C0C0C0 solid;
   border-width: 0 0px;
}
#wb_CssMenu1 li li.firstitem
{
   border-top: 0px #C0C0C0 solid;
}
#wb_CssMenu1 li li.lastitem
{
   border-bottom: 0px #C0C0C0 solid;
}
#wb_CssMenu1 ul ul a, #wb_CssMenu1 ul :hover ul a
{
   float: none;
   margin: 0;
   width: 124px;
   height: auto;
   white-space: normal;
   padding: 7px 6px 6px 6px;
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   color: #333333;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   line-height: 13px;
   text-align: left;
   text-decoration: none;
}
#wb_CssMenu1 ul :hover ul .firstitem a
{
   margin-top: 0px;
}
#wb_CssMenu1 ul ul :hover a, #wb_CssMenu1 ul ul a:hover, #wb_CssMenu1 ul ul :hover ul :hover a, #wb_CssMenu1 ul ul :hover ul a:hover
{
   background-color: #66CDAA;
   background-image: none;
   border: 1px #000000 solid;
   color: #FFFFFF;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Shape1 a img
{
   position: absolute;
   left: 0;
}
#wb_Shape1 span
{
   position: absolute;
   left: 0;
}
#wb_Shape1 a .hover
{
   visibility: hidden;
}
#wb_Shape1 a:hover .hover
{
   visibility: visible;
}
#wb_Shape1 a:hover span
{
   visibility: hidden;
}
#Shape1
{
   border-width: 0;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#Layer1
{
   background-color: #000000;
   background-image: none;
   margin: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#YouTube1
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#wb_YouTube1
{
   display: block;
   position: relative;
   margin: 0;
   height: 0;
   overflow: hidden;
   box-sizing: border-box;
   padding-bottom: 56.25%;
   padding-left: 0;
   padding-right: 0;
   padding-top: 0;
}
#Layer2
{
   background-color: #000000;
   background-image: none;
   margin: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 25px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3, #LayoutGrid1 > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3, #LayoutGrid1 > .row > .col-4
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3, #LayoutGrid1 > .row > .col-4
{
   float: none;
   width: 100%;
}
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 25px 0px;
   margin: 0;
   text-align: center;
   -webkit-animation: transform-scale-in 1000ms linear 0ms 1 normal both;
   -moz-animation: transform-scale-in 1000ms linear 0ms 1 normal both;
   animation: transform-scale-in 1000ms linear 0ms 1 normal both;
}
#wb_Text10 div
{
   text-align: center;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 15px 0px 15px 0px;
   -webkit-animation: transform-scale-in 1000ms linear 0ms 1 normal both;
   -moz-animation: transform-scale-in 1000ms linear 0ms 1 normal both;
   animation: transform-scale-in 1000ms linear 0ms 1 normal both;
   -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   animation-play-state: paused;
}
#Heading1
{
   color: #3370B7;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#Heading1 a
{
   color: #3370B7;
   text-decoration: none;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 15px 0px 15px 0px;
   -webkit-animation: transform-scale-in 1000ms linear 300ms 1 normal both;
   -moz-animation: transform-scale-in 1000ms linear 300ms 1 normal both;
   animation: transform-scale-in 1000ms linear 300ms 1 normal both;
   -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   animation-play-state: paused;
}
#Heading2
{
   color: #3370B7;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#Heading2 a
{
   color: #3370B7;
   text-decoration: none;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 15px 0px 15px 0px;
   -webkit-animation: transform-scale-in 1000ms linear 600ms 1 normal both;
   -moz-animation: transform-scale-in 1000ms linear 600ms 1 normal both;
   animation: transform-scale-in 1000ms linear 600ms 1 normal both;
   -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   animation-play-state: paused;
}
#Heading3
{
   color: #3370B7;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#Heading3 a
{
   color: #3370B7;
   text-decoration: none;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 25px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text11 div
{
   text-align: center;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   -webkit-animation: transform-scale-in 1000ms linear 300ms 1 normal both;
   -moz-animation: transform-scale-in 1000ms linear 300ms 1 normal both;
   animation: transform-scale-in 1000ms linear 300ms 1 normal both;
   display: inline-block;
   width: 98px;
   height: 219px;
   vertical-align: top;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 124px;
   height: 251px;
   vertical-align: top;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 99px 0px 15px 0px;
   -webkit-animation: transform-scale-in 1000ms linear 600ms 1 normal both;
   -moz-animation: transform-scale-in 1000ms linear 600ms 1 normal both;
   animation: transform-scale-in 1000ms linear 600ms 1 normal both;
   -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   animation-play-state: paused;
}
#Heading4
{
   color: #7FFF00;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#Heading4 a
{
   color: #7FFF00;
   text-decoration: none;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 25px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text12 div
{
   text-align: center;
}
#wb_Image3
{
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 212px;
   height: 169px;
   vertical-align: top;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text13 div
{
   text-align: center;
}
#Layer3
{
   background-color: #000000;
   background-image: none;
   margin: 0;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 7px 0px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_team_grid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#team_grid
{
   box-sizing: border-box;
   padding: 60px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
}
#team_grid .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#team_grid > .row > .col-1, #team_grid > .row > .col-2, #team_grid > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#team_grid > .row > .col-1, #team_grid > .row > .col-2, #team_grid > .row > .col-3
{
   float: left;
}
#team_grid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#team_grid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#team_grid > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#team_grid:before,
#team_grid:after,
#team_grid .row:before,
#team_grid .row:after
{
   display: table;
   content: " ";
}
#team_grid:after,
#team_grid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#team_grid > .row > .col-1, #team_grid > .row > .col-2, #team_grid > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_Name2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 10px 0px;
}
#Name2
{
   color: #42DCA3;
   font-family: "Trebuchet MS";
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#Name2 a
{
   color: #42DCA3;
   text-decoration: none;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 10px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text14 div
{
   text-align: center;
}
#wb_FontAwesomeIcon9
{
   background-color: #000000;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon9:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#FontAwesomeIcon9
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon9 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 13px;
}
#wb_FontAwesomeIcon9:hover i
{
   color: #18BC9C;
}
#wb_FontAwesomeIcon9
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon9:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon13
{
   background-color: #000000;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon13:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#FontAwesomeIcon13
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon13 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 8px;
}
#wb_FontAwesomeIcon13:hover i
{
   color: #18BC9C;
}
#wb_FontAwesomeIcon13
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon13:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon16
{
   background-color: #000000;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon16:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#FontAwesomeIcon16
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon16 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 12px;
}
#wb_FontAwesomeIcon16:hover i
{
   color: #18BC9C;
}
#wb_FontAwesomeIcon16
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon16:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#spacer-line2
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 40px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#spacer-line3
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 40px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Layer4
{
   background-color: #000000;
   background-image: none;
   margin: 0;
}
#wb_contact
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #3C3C3C;
   box-sizing: border-box;
   margin: 0;
}
#contact
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#contact .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact > .row > .col-1, #contact > .row > .col-2, #contact > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contact > .row > .col-1, #contact > .row > .col-2, #contact > .row > .col-3
{
   float: left;
}
#contact > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#contact > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#contact > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: right;
}
#contact:before,
#contact:after,
#contact .row:before,
#contact .row:after
{
   display: table;
   content: " ";
}
#contact:after,
#contact .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#contact > .row > .col-1, #contact > .row > .col-2, #contact > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 15px 15px 15px 15px;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Image4
{
   margin: 0;
   vertical-align: top;
}
#Image4
{
   border: 10px solid #3C3C3C;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 440px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image4:hover
{
   opacity: 0.7;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_Image4
{
   opacity: 1.0;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 25px 0px 25px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text16 div
{
   text-align: center;
}
#wb_Image5
{
   margin: 0;
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 121px;
   height: 157px;
   vertical-align: top;
}
#Label1
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Editbox1
{
   border: 0px solid #CCCCCC;
   background-color: #252525;
   background-image: none;
   color :#9C9C9C;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 22px;
   padding: 4px 4px 4px 4px;
   margin: 15px 0px 15px 0px;
   text-align: left;
   vertical-align: middle;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#TextArea1
{
   border: 0px solid #CCCCCC;
   background-color: #252525;
   background-image: none;
   color :#9C9C9C;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 15px 0px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button1
{
   border: 0px solid #2E6DA4;
   background-color: #F97352;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0px 0px 15px 0px;
}
#Editbox1
{
   display: block;
   width: 100%;
   height: 30px;
   z-index: 28;
}
#wb_Heading2
{
   display: inline-block;
   width: 100%;
   text-align: center;
   z-index: 9;
}
#Layer2_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_YouTube1
{
   display: inline-block;
   width: 100%;
   z-index: 4;
}
#wb_Heading3
{
   display: inline-block;
   width: 100%;
   text-align: center;
   z-index: 12;
}
#Shape1
{
   width: 163px;
   height: 39px;
}
#about_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Text1
{
   position: absolute;
   left: 0px;
   top: 797px;
   width: 970px;
   height: 16px;
   z-index: 38;
}
#wb_Heading4
{
   display: inline-block;
   width: 100%;
   text-align: center;
   z-index: 15;
}
#wb_Image1
{
   display: inline-block;
   width: 98px;
   height: 219px;
   z-index: 11;
}
#wb_Text3
{
   position: absolute;
   left: 93px;
   top: 28px;
   width: 695px;
   height: 152px;
   text-align: center;
   z-index: 2;
}
#wb_Name2
{
   display: inline-block;
   width: 100%;
   text-align: center;
   z-index: 17;
}
#wb_Text4
{
   position: absolute;
   left: 142px;
   top: 20px;
   width: 695px;
   height: 89px;
   text-align: center;
   z-index: 16;
}
#wb_Image2
{
   display: inline-block;
   width: 124px;
   height: 251px;
   z-index: 8;
}
#Layer1
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 791px;
   float: left;
   clear: left;
   display: block;
   z-index: 41;
}
#PageHeader1_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#spacer-line2
{
   display: block;
   width: 100%;
   z-index: 22;
}
#wb_FontAwesomeIcon13
{
   display: inline-block;
   width: 16px;
   height: 16px;
   text-align: center;
   z-index: 20;
}
#wb_Image3
{
   display: inline-block;
   width: 212px;
   height: 169px;
   z-index: 14;
}
#Layer2
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 129px;
   float: left;
   clear: left;
   display: block;
   z-index: 42;
}
#wb_Text5
{
   position: absolute;
   left: 261px;
   top: 1402px;
   width: 250px;
   height: 32px;
   z-index: 33;
}
#TextArea1
{
   display: block;
   width: 100%;
   height: 88px;
   z-index: 29;
}
#wb_Image4
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 26;
}
#Layer4_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#spacer-line3
{
   display: block;
   width: 100%;
   z-index: 24;
}
#Layer3
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 75px;
   float: left;
   clear: left;
   display: block;
   z-index: 43;
}
#intro
{
   position: relative;
   text-align: left;
   width: 100%;
   height: 100%;
   float: left;
   display: block;
   z-index: 39;
}
#wb_Text6
{
   position: absolute;
   left: 175px;
   top: 1346px;
   width: 250px;
   height: 32px;
   z-index: 34;
}
#Layer4
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 82px;
   float: left;
   clear: left;
   display: block;
   z-index: 44;
}
#wb_Image5
{
   display: inline-block;
   width: 121px;
   height: 157px;
   z-index: 23;
}
#about
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 332px;
   float: left;
   clear: left;
   display: block;
   z-index: 40;
}
#wb_Text7
{
   position: absolute;
   left: 175px;
   top: 1346px;
   width: 250px;
   height: 32px;
   z-index: 35;
}
#wb_FontAwesomeIcon16
{
   display: inline-block;
   width: 16px;
   height: 16px;
   text-align: center;
   z-index: 21;
}
#wb_FontAwesomeIcon9
{
   display: inline-block;
   width: 16px;
   height: 16px;
   text-align: center;
   z-index: 19;
}
#wb_Text8
{
   position: absolute;
   left: 175px;
   top: 1346px;
   width: 250px;
   height: 32px;
   z-index: 36;
}
#wb_Text9
{
   position: absolute;
   left: 175px;
   top: 1346px;
   width: 250px;
   height: 32px;
   z-index: 37;
}
#PageHeader1
{
   position: fixed;
   text-align: center;
   left: 0;
   top: 0;
   right: 0;
   height: 85px;
   z-index: 7777;
}
#wb_Text13
{
   position: absolute;
   left: 305px;
   top: 29px;
   width: 376px;
   height: 89px;
   text-align: center;
   z-index: 5;
}
#Layer3_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_CssMenu1
{
   position: absolute;
   left: 463px;
   top: 17px;
   width: 468px;
   height: 50px;
   z-index: 0;
}
#Button1
{
   display: block;
   width: 100%;
   height: 34px;
   z-index: 30;
}
#wb_Shape1
{
   position: absolute;
   left: 359px;
   top: 206px;
   width: 163px;
   height: 39px;
   z-index: 1;
}
#Label1
{
   display: block;
   width: 100%;
   z-index: 27;
}
#wb_Heading1
{
   display: inline-block;
   width: 100%;
   text-align: center;
   z-index: 6;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#wb_CssMenu1
{
   left: 463px;
   top: 17px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_CssMenu1 li
{
   width: 113px;
}
#wb_CssMenu1 a
{
   color: #9D9D9D;
   border: 0px #222222 solid;
   background-color: #000000;
   background-image: none;
   font-family: "Trebuchet MS";
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 103px;
   height: 44px;
   padding: 0px 5px 0px 5px;
   line-height: 44px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #FFFFFF;
   background-color: #42DCA3;
   background-image: none;
   border: 0px #222222 solid;
}
#wb_CssMenu1 a.withsubmenu
{
   padding: 0 5px 0 5px;
   width: 103px;
}
#wb_CssMenu1 ul :hover ul
{
   left: 0px;
   top: 44px;
   padding-top: 0px;
   visibility: visible;
}
#wb_CssMenu1 .firstmain:hover ul
{
   left: 0px;
}
#wb_CssMenu1 li li
{
   width: 138px;
}
#wb_CssMenu1 ul ul a, #wb_CssMenu1 ul :hover ul a
{
   width: 124px;
   padding: 7px 6px 6px 6px;
   background-color: #000000;
   border: 1px #000000 solid;
   color: #333333;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   line-height: 13px;
   text-decoration: none;
}
#wb_CssMenu1 ul ul :hover a, #wb_CssMenu1 ul ul a:hover, #wb_CssMenu1 ul ul :hover ul :hover a, #wb_CssMenu1 ul ul :hover ul a:hover
{
   background-color: #66CDAA;
   border: 1px #000000 solid;
   color: #FFFFFF;
}
#wb_Shape1
{
   left: 359px;
   top: 671px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text10
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text10
{
   margin: 0;
   padding: 0px 0px 25px 0px;
}
#wb_Heading1
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   color: #3370B7;
   font-size: 19px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 15px 0px 15px 0px;
}
#wb_Heading2
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   color: #3370B7;
   font-size: 19px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 15px 0px 15px 0px;
}
#wb_Text11
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text11
{
   margin: 0;
   padding: 0px 0px 25px 0px;
}
#wb_Heading4
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   color: #7FFF00;
   font-size: 19px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 99px 0px 15px 0px;
}
#wb_Text12
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text12
{
   margin: 0;
   padding: 0px 0px 25px 0px;
}
#wb_Text4
{
   left: 142px;
   top: 2187px;
   width: 695px;
   height: 89px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text4
{
   margin: 0;
   padding: 0px 7px 0px 0px;
}
#wb_team_grid
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
}
#wb_team_grid
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#team_grid
{
   padding: 60px 15px 20px 15px;
}
#team_grid .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#team_grid > .row > .col-1, #team_grid > .row > .col-2, #team_grid > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#team_grid > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#team_grid > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#team_grid > .row > .col-3
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Image4
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
}
#wb_LayoutGrid2
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Text16
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text16
{
   margin: 0;
   padding: 25px 0px 25px 0px;
}
#wb_Image5
{
   width: 121px;
   height: 157px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image5
{
   width: 121px;
   height: 157px;
}
}
